<template>
    <div id="ailaPlayer">
        <div id="videoPlayOverlay">
            <div class="state reconnect">
                <div v-on:click="reconnect" class="reconnect__btn">Reconnect</div>
            </div>
            <div class="state play">
                <div v-on:click="play" class="play__btn">Start Training</div>
            </div>
            <div class="state message"></div>
        </div>
    </div>
</template>

<script>

import AilaManager from "../../assets/js/ailaManager";

export default {
    name: "AilaPlayer",
    components: {
    },
    methods: {
        reconnect: function () {
            _PSConnect();
        },
        play: function () {
            _PSPlay();
            setTimeout(function() {
                AilaManager.initDialog();
            }, 500);
        }
    },
    mounted: function () {
        //Promethist.load();

        /*const testCommand = {
            text: "#StartApp",
            code: "cs-CZ-vlasta"
        };

        AilaManager.addCommand("#StartApp", function (payload) {
            //manager.test(payload);
        });
        AilaManager.addCommand("#StartApp2", function (payload) {
            //manager.test(payload);
        });
        AilaManager.processCommand(testCommand);
        console.log(AilaManager.getMessages());*/
        AilaManager.initPixelStreaming();
    }
}

</script>