<template>
    <div class="comp__controls-top">
        <div class="controls-top">
            <div class="logo-mobile hidePC">
                <img src="../../assets/img/svg/logo.svg" />
            </div>

            <button v-on:click="restart" class="controls-top__btn hideMobile">
                <img src="../../assets/img/svg/controls-top__reload.svg" alt="Refresh" />
            </button>

            <div class="spacer"></div>

            <div class="listenBar-mobile">
                <svg width="30" height="30" viewBox="0 0 22 35" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.731 14.493c.273 0 .535.113.728.314.194.202.302.475.302.76v2.15c0 2.28.868   4.466 2.413 6.079 1.545 1.612 3.64 2.518 5.826 2.518 2.185 0 4.28-.906 5.826-2.518 1.545-1.613 2.413-3.8  2.413-6.08v-2.149c0-.285.108-.558.301-.76.194-.201.455-.314.729-.314.273 0 .535.113.728.314a1.1 1.1 0 0 1 .301.76v2.15c0 2.664-.948 5.233-2.66 7.209-1.713   1.975-4.068 3.217-6.608 3.483v4.352h6.179c.273 0 .535.113.728.315.193.202.302.475.302.76 0 .285-.109.558-.302.76a1.008 1.008 0 0 1-.728.315H3.79c-.273    0-.535-.114-.728-.315a1.099 1.099 0 0 1-.302-.76c0-.285.109-.558.302-.76.193-.202.455-.315.728-.315h6.18V28.41c-2.541-.266-4.896-1.508-6.609-3.483C1.65    22.95.702 20.38.702 17.715v-2.149c0-.285.108-.558.301-.76.193-.201.455-.314.728-.314Z" fill="#fff"/><path d="M15.12 17.716c0 1.14-.435 2.234-1.207 3.04A4.035  4.035 0 0 1 11 22.015a4.034 4.034 0 0 1-2.913-1.259 4.395 4.395 0 0 1-1.207-3.04V6.97c0-1.14.435-2.233 1.207-3.04A4.034 4.034 0 0 1 11 2.673c1.092 0 2.14.453    2.913 1.259a4.395 4.395 0 0 1 1.206 3.04v10.745ZM11 .523c-1.639 0-3.21.68-4.37 1.889a6.593 6.593 0 0 0-1.81 4.56v10.745c0 1.71.652 3.35 1.81 4.56A6.051 6.051 0    0 0 11 24.164c1.639 0 3.21-.68 4.37-1.888a6.593 6.593 0 0 0 1.809-4.56V6.97c0-1.71-.651-3.35-1.81-4.559A6.051 6.051 0 0 0 11 .522Z" fill="#fff"/></svg>
            </div>

            <div class="divider"></div>

            <div v-on:click="dropdownOpen" class="controls-top__profile">
                <div class="controls-top__profile-name">
                    <strong>Alena AI</strong>
                    <span>Manažer</span>
                </div>
                <div class="controls-top__profile-image-wrap is-active">
                    <div class="controls-top__profile-image">
                        <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/></svg>
                    </div>
                </div>
            </div>
        </div>

        <div v-on:click="dropdownClose" class="my-profile__sidebar-wrapper">
            <div v-on:click="dropdownStop" class="my-profile__sidebar">
                <a href="https://csobdev.weboard.me/dashboard/employeedash" class="sidebar__item">
                    <img src="../../assets/img/svg/menu_training.svg">
                    <div class="item__title">
                        Můj trénink
                    </div>
                </a>
                <a href="https://csobdev.weboard.me/pages/profile" class="sidebar__item">
                    <img src="../../assets/img/svg/menu_profile.svg">
                    <div class="item__title">
                        Můj profil
                    </div>
                </a>
                <div class="sidebar__item">
                    <img src="../../assets/img/svg/menu_help.svg">
                    <div class="item__title">
                        Nápověda
                    </div>
                </div>
                <div class="sidebar__item">
                    <img src="../../assets/img/svg/menu_report.svg">
                    <div class="item__title">
                        Nahlásit problém
                    </div>
                </div>
                <div class="sidebar__switch">
                    <div class="switch__title">Centrum oznámení</div>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="sidebar__logout">
                    <a href="https://csobdev.weboard.me/dashboard/employeedash" class="logout__btn">
                        <svg width="20" height="20" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="icon"><path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z"/><path d="M464 688a48 48 0 1 0 96 0 48 48 0 1 0-96 0zm24-112h48c4.4 0 8-3.6 8-8V296c0-4.4-3.6-8-8-8h-48c-4.4 0-8 3.6-8 8v272c0 4.4 3.6 8 8 8z"/></svg>
                        Odhlásit se
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    name: "AilaControlsTop",
    methods: {
        restart: function (e) {

        },
        dropdownOpen: function () {
            const dropdownWrapper = document.querySelector(".my-profile__sidebar-wrapper");
            dropdownWrapper.classList.toggle("show");
        },
        dropdownClose: function () {
            const dropdownWrapper = document.querySelector(".my-profile__sidebar-wrapper");
            dropdownWrapper.classList.remove("show");
        },
        dropdownStop: function (e) {
            e.stopPropagation();
        }
    }
}

</script>