.listenBar {
  position: fixed; top: 40px; right: 380px; opacity: 0; transition: opacity 0.3s; display: flex; z-index: 10;
  align-items: center; justify-content: center; width: 55px; height: 55px; border-radius: 50%; background: #0099CC; animation: pulse 1s infinite;

  svg {height: 24px;}
  &.fade {opacity:0;}
  &.show {opacity:1;}
  &-mobile {}
}

@media screen and (max-width: 767px) {
  .listenBar { display: none; }
  .listenBar-mobile {
    opacity: 0; transition: opacity 0.3s; display: flex; align-items: center; justify-content: center;
    width: 32px; height: 32px; border-radius: 50%; -webkit-border-radius: 50%; background: #0099CC; animation: pulse 1s infinite;

    svg {height: 14px;}
    &.fade {opacity:0;}
    &.show {opacity:1;}
  }
}