<template>
  <div id="app">
    <AilaPlayer/>
    <AilaListenBar/>
    <AilaControlsBottom/>
    <AilaControlsTop/>
  </div>
</template>

<script>

import AilaPlayer from "./components/core/AilaPlayer.vue"
import AilaListenBar from "./components/core/AilaListenBar";
import AilaControlsBottom from "./components/core/AilaControlsBottom";
import AilaControlsTop from "./components/core/AilaControlsTop";

export default {

    name: 'App',
    metaInfo: {
        title: process.env.VUE_APP_TITLE, // Load title from ENV variable
    },
    components: {
        AilaControlsTop,
        AilaControlsBottom,
        AilaListenBar,
        AilaPlayer
    }

}
</script>

<style lang="scss">
  @import "assets/css/index";
</style>
