<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Aila | WeBoard.me</title>

    <script>window.clientId = '[%CLIENT_ID%]'; window.dialogueId = '[%DIALOGUE_ID%]';</script>
    <script src="js/webRtcPlayer.js"></script>
    <script src="js/pixelStreaming.js"></script>
    
    <link rel="stylesheet" href="<%= BASE_URL %>iconfont/style.css" id="wb-ui-theme" type="text/css" />
    <link rel="stylesheet" href="https://[%CLIENT_ID%].weboard.me/ui-theme" id="wb-ui-theme" type="text/css" />
    <script src="https://[%CLIENT_ID%].weboard.me/ui"></script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but this site doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
