@keyframes pulse {
  0% {box-shadow: 0 0 0 0 rgba(0, 153, 204, 0.6);}
  100% {box-shadow: 0 0 0 10px rgba(0, 153, 204, 0);}
}

@keyframes dropdown {
  0% {transform: translateY(-50px); opacity: 0;}
  100% {transform: translateY(0); opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}