$colorDefault: #3b0089;
$colorDefaultLighter: lighten($colorDefault, 10%);
$colorDefaultDarker: darken($colorDefault, 10%);

$colorPrimary: $colorDefault;
$colorSecondary: #F63C16;

$colorGray: #BABFC7;

$colorText: #111;
